<section class="p-5 text-start text-dark">
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 class="text-center">Contact Info</h1>
                <h5><strong>Main Location:</strong> 50 Main st Boston MA</h5>
                <hr>
                <h5><strong>Enrollment Phone:</strong> (555) 555-5555</h5>
                <hr>
                <h5><strong>Student Phone:</strong> (333) 333-3333</h5>
                <hr>
                <h5><strong>Enrollment Email:</strong> enroll@frontendbc.test</h5>
                <hr>
                <h5><strong>Student Email:</strong> student@frontendbc.test</h5>
                <hr>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    Contact Us
                </button>
            </div>
            <div class="col-md text-center align-items-center">
                <div class="mapouter">
                    <div class="gmap_canvas map-responsive">
                        <iframe width="600" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Jakarta&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        <a href="https://123movies-to.org"></a>
                        <br>
                        <a href="https://www.embedgooglemap.net">adding google map to wordpress</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Contact us</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="input-group">
                <input type="text" name="nama" id="nama" class="form-control" placeholder="Enter Name">
            </div>
            <br>
            <div class="input-group">
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter E-mail">
            </div>
            <br>
            <div class="input-group">
                <label for="textarea">Message</label>
                <textarea name="textarea" id="txt" cols="70" rows="10"></textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
        </div>
    </div>
</div>