<section class="bg-dark text-light p-5 text-center text-sm-start mt-5" id="hero">
    <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
            <div>
                <h1>Become a <span class="text-warning">Web Developer</span></h1>
                <p class="lead mt-4">
                    We focus on teaching and training out clients the fundamentals and advance programming languages that suitable for the industry.
                </p>
                <button class="btn btn-primary btn-lg mb-5" data-bs-target="#enroll" data-bs-toggle="modal">
                    Enroll
                </button>
            </div>
            <img src="assets/images/1.png" alt="Enrollment" class="img-fluid w-50 d-none d-sm-block">
        </div>
    </div>
</section>