<form (ngSubmit)="onSubmitTodo()" [formGroup]="todoForm">
  <div class="input-group mb-3">
    <div class="input-group-text">
      <input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for following text input" formControlName="isCompleted">
    </div>
    <input id="name" name="name" type="text" class="form-control" aria-label="Text input with checkbox" formControlName="name" required="" [ngClass]="{'is-invalid' : isValidated('name')}">
    <button *ngIf="todoForm.valid" appButtonStyle color="warning" size="md">Save</button>
  </div>
  <app-validation [control]="todoForm.get('name')" [field]="'todo'"></app-validation>
</form>